@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'KoHo', sans-serif;
}

body {
  background-color: aliceblue;
}

/* HEADER */

/* NAV */
header {
  display: flex;
  justify-content: center;
}

.nav {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #044B90;
  padding: 1rem 4rem;
  margin-top: 20px;
  border-radius: 14px;
}

.nav .logo {
  width: auto;
  height: 40px;
}

.nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav .list {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: aliceblue;
  list-style: none;
  padding: 1rem 0;
  margin-right: 20px;
}

.nav .list:nth-child(3) {
  width: 50px;
  padding: 12px 0;
  border-radius: 50px;
  margin-left: 20px;
}

.nav .list:nth-child(3) a {
  text-decoration: none;
  color: #044B90;
}


.nav .list li {
  position: relative;
  margin: 0 20px;
  font-weight: 600;
}
.nav .list li::before{
  content: '';
  position: absolute;
  height: 1.5px;
  bottom: -2px;
  width: 0%;
  background-color: #0353A4;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.nav .list li:hover:before {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.nav .list .active{
  border-bottom: 2px solid #044B90;
}
.nav .list li a {
  text-decoration: none;
  color: #044B90;
}

.nav .burger-menu {
  font-size: 24px;
  color: white;
  display: none;
}

/* NAV-END */


/* HEADER-END */



/* MAIN */

/* POKEMONS */

.poke-form {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 35%;
  padding: 1rem 0;
  gap: 4px;
}

.poke-form .poke-form-block {
  width: 50%;
  display: flex;
  gap: 4px;
}

.poke-form-block .searchInput {
  width: 60%;
  padding: 14px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #0353A4;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline-color: #fae681;
}

.poke-form-block .searchInput::placeholder {
  /* color: #044B90; */
  font-size: 14px;
}

.poke-form-block .select {
  width: 30%;
  padding: 13.5px 8px;
  border: 1px solid #ccc;
  color: #0353A4;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
}

.poke-form .select option {
  font-weight: 600;
  text-transform: capitalize;
  border: 0;
}

.poke-form .searchBtn {
  width: 10%;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: white;
  color: #0353A4;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
}

.poke-form .searchBtn:hover {
  opacity: 0.9;
  color: #061A40;
  background-color: #fae681;
}

.poke-form .sort-btns {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  gap: 4px;
  border-left: 1px solid #ccc;
}

.poke-form .sort-btns .sort-btnA,
.sort-btnZ,
.sort-btnR,
.sort-btn1-9 {
  width: 30%;
  height: 100%;
  padding: 4px 16px;
  font-size: 18px;
  color: #0353A4;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: .2s;
  cursor: pointer;
}

.sort-btnA {
  background-color: #0353A4;
  color: #fae681;
  border: 0;
}

.poke-form .sort-btns .sort-btn:hover {
  background-color: #fae681;
}

/* MAIN */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  gap: 20px;
}

.wrapper-title {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 1rem auto 0 auto;
  padding: 0.25rem;
  background-color: #044B90;
  color: aliceblue;
  border-radius: 8px;
}

.wrapper .card {
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 20px 10px;
  border-radius: 12px;
  gap: 10px;
  background-color: #365FAC;
}

.wrapper .save_card {
  min-height: 200px;
  cursor: default;
}
.wrapper .save_card .card_body{
  height: 160px;

}
.wrapper .save_card .card_footer{
  justify-content: end;
}

.card .card_title {
  width: 90%;
  padding: 5px 0;
  text-transform: capitalize;
  text-align: center;
  background-color: aliceblue;
  border-radius: 4px;
  color: #FFCC01;
  text-shadow: -2px 2px 1px #0353A4;
}

.card .card_body {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80%;
  background-color: aliceblue;
  border-radius: 6px;
}

.card .card_body img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.card .card_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 5px;
}

.card_footer .moreBtn {
  width: 80%;
  height: 45px;
  border-radius: 4px;
  background-color: aliceblue;
  border: 2px solid white;
  color: #365FAC;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.fa-star {
  color: gold;
}

.card_footer .moreBtn:hover {
  opacity: 0.8;
}

.card_footer .moreBtn:last-child {
  width: 20%;
  border: none;
}

.pagination-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 10px;
  font-weight: bold;
}

.next,
.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  border: 2px solid #044B90;
  outline: none;
  background-color: #0353A4;
  color: white;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}

.next:disabled,
.prev:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.next:hover,
.prev:hover {
  opacity: 0.8;
}

.pages span {
  font-size: 18px;
}

/* POKEMONS-END */

/* ERROR */
.er div h1 {
  color: red;
  font-size: 38px;
  margin: 4px 0;
}

/* LOADER */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: red;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle>div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #0353A4;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
  }
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */

/* MORE */
.more_container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-top: 70px;
  gap: 15px;
}

.stats_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.more_title {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #365FAC;
  color: #FFCC01;
  text-shadow: -2px 2px 1px #0E35CF;
  border-radius: 6px;
}

.single_main {
  width: 500px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #365FAC;
  border-radius: 12px;
  padding: 1rem;

}

.single {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: #86baddab;
  border-radius: 12px;
}

.single img {
  width: 90%;
  height: 90%;
  margin-top: 20px;
}

.stats_block {
  width: 450px;
  height: 275px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  background-color: #365FAC;
  border-radius: 12px;
  color: white;
}

.more_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more_list li {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 500;
  color: gold;
}

.more_btn {
  width: 40%;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.stats_block2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  width: 450px;
  background-color: #365FAC;
  color: white;
  padding: 1rem;
  border-radius: 12px;
}

.stats_inline {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #061A40;
  padding: 5px 0;
  border-radius: 12px;
  gap: 20px;
}

.stats {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50px;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 5px 0;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50px;
  background-color: #fa5d5d;
  border-radius: 4px;
  padding: 5px 0;
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 10px;
}

.stats:nth-child(2) .progress {
  background-color: #0CD563;
}

.stats:nth-child(3) .progress {
  background-color: #3BD48B;
}

.stats:nth-child(4) .progress {
  background-color: #044B90;
}

.stats:nth-child(5) .progress {
  background-color: #0E35CF;
}

.stats:nth-child(6) .progress {
  background-color: #FFDD3C;
}

.stats h2 {
  color: #fa5d5d;
}

.stats:nth-child(2) h2 {
  color: #0CD563;
}

.stats:nth-child(3) h2 {
  color: #3BD48B;
}

.stats:nth-child(4) h2 {
  color: #044B90;
}

.stats:nth-child(5) h2 {
  color: #0E35CF;
}

.stats:nth-child(6) h2 {
  color: #FFDD3C;
}

.back {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backBtn {
  width: 200px;
  height: 50px;
  background-color: #365FAC;
  color: #FFCC01;
  text-shadow: -2px 2px 1px #0E35CF;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: .1s;
}

.backBtn:hover {
  opacity: 0.8;
}

.more_list li span {
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  margin: 0 4px;
}

.more_list li .grass {
  color: white;
  background-color: #0CD563;
}

.more_list li .fire {
  color: white;
  background-color: #e73820;
}

.more_list li .water {
  color: white;
  background-color: #0E35CF;
}

.more_list li .bug {
  color: white;
  background-color: darkolivegreen;
}

.more_list li .dark {
  color: white;
  background-color: darkorchid;
}

.more_list li .electric {
  color: white;
  background-color: #FFCC01;
}

.more_list li .ice {
  color: white;
  background-color: #88E5F7;
}

.more_list li .dragon {
  color: white;
  background-color: #861D19;
}

.more_list li .fairy {
  color: white;
  background-color: #DE6294;
}

.more_list li .fighting {
  color: white;
  background-color: #9E534A;
}

.more_list li .flying {
  color: white;
  background-color: #9CB6E5;
}

.more_list li .ground {
  color: white;
  background-color: #C14F36;
}

.more_list li .normal {
  color: white;
  background-color: #B8A7AD;
}

.more_list li .poison {
  color: white;
  background-color: #B415E5;
}

.more_list li .psychic {
  color: white;
  background-color: hotpink;
}

.more_list li .rock {
  color: white;
  background-color: #9F8953;
}

.more_list li .steel {
  color: white;
  background-color: #888888;
}

/* MORE-END */

/* MAIN-END */



/* MEDIA-QUERY */

@media (max-width:1024px) {
  .poke-form {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}

@media (max-width:769px) {
  .wrapper .card {
    width: 300px;
  }

  .next,
  .prev {
    width: 30%;
  }
}

@media (max-width:670px) {
  .nav .list {
    display: none;
  }

  .nav .burger-menu {
    display: block;
  }

  .poke-form {
    flex-direction: column;
    align-items: center;
  }

  .poke-form .poke-form-block {
    padding: 0 1rem;
    width: 100%;
  }

  .poke-form .sort-btns {
    width: 100%;
    border-left: 0;
    padding: 4px 1rem;
  }

  .poke-form .sort-btns .sort-btn {
    padding: 12px 16px;
  }

  .wrapper-title {
    width: 90%;
  }

  .wrapper .card {
    width: 400px;
  }

  .more_container {
    margin: 20px 0;
    padding: 0 1rem;
  }
}

@media (max-width:426px) {
  .nav {
    padding: 1rem 1rem;
  }

  .poke-form-block .select {
    width: auto;
  }

  .poke-form-block .searchBtn {
    width: 20%;
  }

  .wrapper {
    padding: 1rem;
  }

  .wrapper .card {
    height: 250px;
  }

  .stats_inline {
    gap: 5px;
  }

  .single_main {
    width: 400px;
    height: 500px;
  }

  .stats_container {
    width: 100%;
    align-items: center;
  }

  .stats_block {
    width: 98%;
  }

  .stats_block2 {
    width: 100%;
  }

  .stats_inline {
    gap: 10px;
    padding: 5px 5px;
  }

  .stats {
    width: 100%;
  }

  .stats .progress {
    width: 100%;
  }

  .next,
  .prev {
    width: 40%;
  }

  .pages {
    display: flex;
    gap: 4px;
  }
}


@media (max-width:321px) {
  .progress {
    width: 35px;
    font-size: 14px;
  }

  .stats h2 {
    font-size: 19px;
  }
}